
@font-face {
    font-family: 'RemoPlusPro-Normal';
    src: url('https://raw.githubusercontent.com/serenatsay/banza/blob/master/RemoPlusPro-Normal.otf');
    font-weight: 100;
    font-style: normal;
} 
