@font-face {
    font-family: RemoPlusPro-Normal;
    src: url(https://github.com/serenatsay/banza/blob/master/RemoPlusPro-Normal.otf);
    font-weight:400;
}

title {
   font-family: 'RemoPlusPro-Normal', sans-serif !important;
}
body {
  font-family: 'RemoPlusPro-Normal', sans-serif !important;
}

